.container-width {
  max-width: 1000px;
  margin: 0 auto;
}

#visualization-container {
  background-color: white !important;
  height: auto;
  overflow: visible;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
