@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  font-family: var(--font-family);
  margin: 0;
  background-color: #f8f9fa;
}

.container-width {
  max-width: 1000px;
  margin: 0 auto;
}

#visualization-container {
  background-color: white !important;
}
